
html * {
    margin: 0;
}

body { background: #ffffff; color: #333333; font: 13px Arial; }

input[type=text] { font-size: 12px; }

label { font-size: 12px; color: #003366;
}

.c { clear: both }

.ajaxError {
    background-color: #cc2222;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 5px;
    display: none;
    z-index: 9999;
    position: absolute;
    float: right;
}

a {
    color: #225599;
    text-shadow: 0 1px #efefef;
    text-decoration: none;
}

a:hover {
    color: #2266bb;
    text-shadow: 0 1px #dfdfdf;
}

#pageWrapper.subscriberTypes .addSubscriberType, .subscriberType #types { width: 400px; }
#pageWrapper.subscriberTypes #types .type { height: 40px; width: 400px }
#pageWrapper.subscriberTypes #types .type .remove { float: right; width: 40px; }
#pageWrapper.subscriberTypes #types .type .editType { display: none }
#pageWrapper.subscriberTypes .addSubscriberType label { padding: 4px; font-size: 14px; }

#pageWrapper.subscriberTypes .addSubscriberType input {
    width: 260px;
    font-size: 16px;
    margin: 4px;
}

#pageWrapper.subscriberTypes .addSubscriberType .add { float: left; }
#pageWrapper.subscriptionList { padding: 10px; }

#pageWrapper.subscriptionList .description {
    font-size: 12px;
    color: #333333;
    border: 1px solid #999999;
    padding: 5px 10px;
    margin: 5px 0;
}

#pageWrapper.subscriptionList .notion {
    display: none;
    border: 1px solid #999999;
    padding: 5px 10px;
    margin: 5px 0;
    background-color: #ffffcc;
}

#pageWrapper.subscriptionList .notion h3 { font-size: 16px; font-weight: bold;
}

#pageWrapper.templatesList #templates { width: 800px; }

#pageWrapper.templatesList #templates .template {
    height: 100px;
    width: 180px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #eeeeee;
    float: left;
    cursor: pointer;
}

#pageWrapper.templatesList #templates div.template:hover { background-color: #ffffea; border: 1px solid #afafaf; }
#pageWrapper.templatesList #templates .template .name { font-weight: bold; float: left; width: 100px; }
#pageWrapper.templatesList #templates .template .created { font-size: 9px; font-style: italic; color: #999999; float: right; }

#pageWrapper.campaignsIndex { padding: 10px; }
#pageWrapper.campaignsIndex h2 {
    padding: 3px;
    background-color: #afafaf;
    text-shadow: 0 1px #dfdfdf;
    
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#pageWrapper.campaignsIndex #campaigns {
    width: 400px;
}

#pageWrapper.campaignsIndex #campaigns .campaign {
    float: left;
    margin: 1px 0;
    padding: 0 5px;
    width: 380px;
    line-height: 20px;
}

#pageWrapper.campaignsIndex #campaigns .campaign.odd {
    background-color: #efefef;
}

#pageWrapper.campaignsIndex #campaigns .campaign .name { width: 220px; float: left; }
#pageWrapper.campaignsIndex #campaigns .campaign .status {
    width: 70px;
    float: left;
    text-align: left;
    font-size: 9px;
    color: #ffffff;
}

#pageWrapper.campaignsIndex #campaigns .campaign .status .status_1 {
    width: 70px;
    padding: 2px 3px;
    background-color: #2e8e2e;
    text-shadow: 1px 1px #006600;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#pageWrapper.campaignsIndex #campaigns .campaign .status .status_2 {
    width: 70px;
    padding: 2px 3px;
    background-color: #325a94;
    text-shadow: 1px 1px #060906;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
#pageWrapper.campaignsIndex #campaigns .campaign .status .status_3 {
    width: 70px;
    padding: 2px 3px;
    background-color: #0066ff;
    text-shadow: 1px 1px #006666 ;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
#pageWrapper.campaignsIndex #campaigns .campaign .status .status_4 {
    width: 70px;
    padding: 2px 3px;
    background-color: #0099cc;
    text-shadow: 1px 1px #006666 ;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
#pageWrapper.campaignsIndex #campaigns .campaign .status .status_5 {
    width: 70px;
    padding: 2px 3px;
    background-color: #009999;
    text-shadow: 1px 1px #006666 ;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
#pageWrapper.campaignsIndex #campaigns .campaign .status .status_6 {
    width: 70px;
    padding: 2px 3px;
    background-color: #666666;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#pageWrapper.campaignsIndex #campaigns .campaign .date {
    width: 80px;
    float: right;
    text-align: right;
    font-style: italic;
    color: #afafaf;
    font-size: 10px;
}

#pageWrapper.campaignShow div.subMenu { padding: 5px; margin: 4px; }

#pageWrapper.campaignShow div.subMenu a {
    background-color: #efefef;
    border: 1px solid #dfdfdf;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#pageWrapper.campaignShow #notifications .note {
    width: 500px;
    background-color: #ffffcc;
    border: 1px solid #ffff99;
    margin: 5px;
    padding: 5px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#pageWrapper.campaignShow #notifications .note.need {
    font-weight: bold;
}

.openedNotOpenedChart {
    float: left;
}

.openedNotOpened {
    float: left;
    padding-right: 40px;
}
.openedNotOpened .item {
    padding: 5px 0;
}

.openedNotOpened .item .title {
    font-weight: bold;
    font-size: 20px;
    width: 140px;
    float: left;
    text-shadow: 1px 1px #dfdfdf;
}

.openedNotOpened .item .value {
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    padding: 0 10px 0 0;
    text-shadow: 1px 1px #dfdfdf;
}

.openedNotOpened .item .percent {
    font-weight: normal;
    font-style: italic;
    color: #888888;
    font-size: 16px;
    text-shadow: 1px 1px #dfdfdf;
}

.opens-clicks-legend {
    float: right;
    font-size: 12px;
}

.opens-clicks-legend .item {
    float: left;
    margin: 0 10px 0 5px;
}

.opens-clicks-legend .item .title {
    float: left;
}

.opensRectangle {
    width: 10px;
    height: 10px;
    background-color: #0077CC;
    float: left;
    margin: 6px;

    -moz-border-radius: 3px;
    border-radius: 3px;
}

.notOpenedRectangle {
    width: 10px;
    height: 10px;
    background-color: #777777;
    float: left;
    margin: 6px;

    -moz-border-radius: 3px;
    border-radius: 3px;
}

.clicksRectangle {
    width: 10px;
    height: 10px;
    background-color: #259E01;
    float: left;
    margin: 6px;

    -moz-border-radius: 3px;
    border-radius: 3px;
}

.clicksRectangleSmall {
    width: 8px;
    height: 8px;
    background-color: #259E01;
    float: left;
    margin: 3px 5px;

    -moz-border-radius: 2px;
    border-radius: 2px;
}

.opensRectangleSmall {
    width: 8px;
    height: 8px;
    background-color: #0077CC;
    float: left;
    margin: 3px 5px;

    -moz-border-radius: 2px;
    border-radius: 2px;
}

.asc { font-weight: bold; background: url('../images/skin/sorted_asc.gif') right no-repeat; padding: 0 8px 0 0; }
.desc { font-weight: bold; background: url('../images/skin/sorted_desc.gif') right no-repeat; padding: 0 8px 0 0; }

.constraint { display: none; }

#dynamicFieldsBody {
    width: 800px;
}

#dynamicFieldsBody #dynamicFields {
    width: 800px;
    float: left;
    text-shadow: 1px 1px #ffffff;
}

#dynamicFieldsBody #dynamicFields .item {
    width: 800px;
    height: 30px;
    margin: 1px 0;
    border: 1px solid #bfbfbf;
    background-color: #f3f3f3;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#dynamicFieldsBody #dynamicFields .hiddenField {
    border: 1px solid #bfbfbf;
    background-color: #efefef;
    color: #999999;
}

#dynamicFieldsBody #dynamicFields .item:hover {
    background-color: #f8f8f8;
    border: 1px solid #aaaaaa;
}

#dynamicFieldsBody #dynamicFields .hiddenField:hover {
    border: 1px solid #bfbfbf;
    background-color: #f4f4f4;
    color: #666666;
}

#dynamicFieldsBody #dynamicFields .item .handler {
    float: left;
    width: 14px;
    height: 26px;
    background-color: #aaaaaa;
    margin: 2px;
    cursor: move;
}

#dynamicFieldsBody #dynamicFields .item .label {
    float: left;
    width: 200px;
    padding: 7px 5px;
    font-weight: bold;

    height:15px;
    overflow:hidden;
}

#dynamicFieldsBody #dynamicFields .item .name {
    float: left;
    width: 200px;
    padding: 7px 5px;
    font-weight: bold;

    font-size: 12px;
    font-family: "Courier New", Monaco, monospace;

    height:15px;
    overflow:hidden;
}

#dynamicFieldsBody #dynamicFields .item .type {
    float: left;
    width: 100px;
    padding: 7px 5px;
    font-style: italic;
}

#dynamicFieldsBody #dynamicFields .item .column {
    float: left;
    width: 70px;
    padding: 7px 5px 7px 20px;
    font-style: italic;
    font-size: 12px;
}

#dynamicFieldsBody #dynamicFields .item .editLink {
    float: right;
    width: 50px;
    text-align: center;
    padding: 7px 5px;
}

#dynamicFieldsBody .trash {
    float: left;
    border: 1px solid #999999;
    background-color: #eaeaea;
    width: 800px;
    height: 45px;
    margin: 5px 0;

    -moz-border-radius: 2px;
    border-radius: 2px;
}

#dynamicFieldsBody .trash div {
    font-size: 18px;
    text-align: center;
    padding: 12px 0;
}

#selectValues .viewItem, #selectValues .editItem {
    margin: 0 5px;
    text-align: left;
    line-height: 25px;
}

#selectValues .viewItem .itemName {
    float: left;
    width: 150px;
    overflow: hidden;
}

#selectValues .editItem .itemName {
    float: left;
    width: 150px;
    overflow: hidden;
}

#selectValues .editItem .itemName #itemNameLabel {
    width: 140px;
}

input[type=text].small { width: 150px; }
input[type=text].normal { width: 250px; }
input[type=text].large { width: 400px; }

textarea.small { width: 400px; height: 75px; }
textarea.normal { width: 400px; height: 125px; }
textarea.large { width: 400px; height: 175px; }

.left_side { float: left; width: 350px; }
.center { float: left; }

.condition { padding: 3px; }
.condition .header { height: 20px; background-color: #cccccc; padding: 7px; }
.condition .header .concatenations { float: left; width: 50px; margin-right: 5px; }
.condition .header .conditions { float: left; width: 200px; }
.condition .header a { float: right; line-height: 25px; }
.condition .row  { height: 20px; background-color: #efefef; padding: 5px;}
.condition .row .title {
    float: left;
    width: 80px;
    font-weight: bold;
    line-height: 25px;
    text-align: right;
    margin: 0 5px;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.condition .row .value { float: left; margin: 0 5px;}
.condition .row .value select { width: 200px; }
.condition .row .value input { width: 190px; }