
html * {
    margin: 0;
}

body { background: #ffffff; color: #333333; font: 12px Arial; }

input[type=text] { font-size: 12px; }

label { font-size: 12px; color: #003366;
}

.c { clear: both }

.ajaxError {
    background-color: #cc2222;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 5px;
    display: none;
    z-index: 9999;
    position: absolute;
    float: right;
}

#pageWrapper.subscriberTypes .addSubscriberType, .subscriberType #types { width: 400px; }
#pageWrapper.subscriberTypes #types .type { height: 40px; width: 400px }
#pageWrapper.subscriberTypes #types .type .remove { float: right; width: 40px; }
#pageWrapper.subscriberTypes #types .type .editType { display: none }
#pageWrapper.subscriberTypes .addSubscriberType label { padding: 4px; font-size: 14px; }

#pageWrapper.subscriberTypes .addSubscriberType input {
    width: 260px;
    font-size: 16px;
    margin: 4px;
}

#pageWrapper.subscriberTypes .addSubscriberType .add { float: left; }
#pageWrapper.subscriptionList { padding: 10px; }

#pageWrapper.subscriptionList .description {
    font-size: 12px;
    color: #333333;
    border: 1px solid #999999;
    padding: 5px 10px;
    margin: 5px 0;
}

#pageWrapper.subscriptionList #removeNotion {
    display: none;
    border: 1px solid #999999;
    padding: 5px 10px;
    margin: 5px 0;
    background-color: #ffffcc;
}

#pageWrapper.subscriptionList #removeNotion h3 { font-size: 16px; font-weight: bold;
}

#pageWrapper.templatesList #templates { width: 800px; }

#pageWrapper.templatesList #templates .template {
    height: 100px;
    width: 180px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #eeeeee;
    float: left;
    cursor: pointer;
}

#pageWrapper.templatesList #templates div.template:hover { background-color: #ffffea; border: 1px solid #afafaf; }
#pageWrapper.templatesList #templates .template .name { font-weight: bold; float: left; width: 100px; }
#pageWrapper.templatesList #templates .template .created { font-size: 9px; font-style: italic; color: #999999; float: right; }
